[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
plotly = "*"
pandas = "*"
numpy = "*"
ruff = "*"
scikit-learn = "*"
requests = "*"
kagglehub = "*"

[dev-packages]
ipykernel = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.12"
