[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
plotly = "*"
pandas = "*"
numpy = "*"
streamlit = "*"
ruff = "*"

[dev-packages]
nbstripout = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
